.product-image{
    height: 300px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.product-box{
    float: left;
    width: 32%;
    height: 30%;
    margin-bottom: 20px;
    margin-right: 1.3%;
}
.product{
    width: 97%;
    text-align: center;
    margin: 50px auto;
    height: 1900px;
}
